// Variables
$darkColor: rgba(0, 0, 0, 1);
$lightColor: rgba(255, 255, 255, 1);
$buttonColor: rgb(198, 214, 236);
$activeButtonColor: rgba(255, 255, 255, 0.322);
$fontFamily: "NTR",
sans-serif;
$fontSize: 14px;
$fontWeight: 400;
$transition: background-color 1s,
color 1s;
$borderRadius: 0.25rem;
$border: 1px solid #377c2eff;

li {
    margin-bottom: 0.9375rem;
    margin-left: 0px;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.25rem;
}

li::before {
    content: "•";
    margin-left: -0.9375rem;
    margin-right: 0.625rem;
}

audio::-webkit-media-controls-panel {
    background: $buttonColor;
}

audio {
    height: 2.5rem;
}

// Mixin pour media query
@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 413px) {
            @content;
        }
    }

    @else if $breakpoint==dark {
        @media (prefers-color-scheme: dark) {
            @content;
        }
    }

    @else if $breakpoint==light {
        @media (prefers-color-scheme: light) {
            @content;
        }
    }
}

// Styles
img {
    background-image: url("/src/img/logo-dark.png");
    transition: opacity 3s ease-in-out;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    transition: $transition;
    margin: 0;
    color: $darkColor;

    @include respond(dark) {
        background-color: $darkColor;
        color: $lightColor;
    }

    @include respond(light) {
        background-color: $lightColor;
        color: $darkColor;
    }
}

#container {
    display: flex;
    width: 100%;
    justify-items: center;
    justify-content: center;
}

.btCenter {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
}

#main {
    width: 100%;
    margin-top: 1.875rem;
    font-size: 0.875rem;
    display: grid;
    grid-template-columns: auto 385px 700px 84px auto;
    grid-template-rows: 5rem auto;
    padding: 0.625rem;
}


#logo {
    margin-bottom: 3.125rem;
    margin-left: 3.125rem;
    grid-row: 1 / span 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

#btMenu {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}

#formulaire {
    z-index: 9;
    background-color: $buttonColor;
    width: max-content;
    height: 2.5rem;
    justify-content: left;
    display: flex;
    align-items: center;
    grid-row: 2;
    grid-column: 2;
    margin-top: 1.375rem;
    margin-left: 0;
}

form {
    height: 2.1875rem;
}

#myInput {
    margin-left: 0.3125rem;
    padding-left: 0.625rem;
    width: 12.5rem;
    height: 1.5625rem;
    border: none;
    background-color: white;
    vertical-align: middle;
}

#btSubmit {
    background-color: $buttonColor;
    background-image: url("/src/img/loupe.png");
    background-size: 1.5625rem 1.5625rem;
    width: 1.875rem;
    height: 1.875rem;
    padding: 1.0625rem;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    vertical-align: middle;
}

#btSubmit:hover {
    background-color: $activeButtonColor;
}

#styleBt {
    width: 100%;
    background-color: $lightColor;
    display: flex;
    grid-row: 1;
    grid-column: 3 / span 2;
    justify-content: space-between;
    transition: $transition;
}

.switch-toggle {
    text-align: left;
    display: flex;
    background: transparent;
    position: relative;
}

.switch-toggle input {
    display: none;
}

.switch-toggle label {
    height: 2.1875rem;
    float: left;
    width: 6.25rem;
    line-height: 2.5rem;
    color: $darkColor;
    text-align: center;
    background: $buttonColor;
    cursor: pointer;
}

.switch-toggle label:nth-of-type(1) {
    font-family: serif;
}

.switch-toggle label:nth-of-type(2) {
    font-family: sans-serif;
}

.switch-toggle label:nth-of-type(3) {
    font-family: monospace;
}

.switch-toggle input:checked+label {
    background: $buttonColor;
    color: $darkColor;
}

.btn-switch {
    display: block;
    width: 6.25rem;
    height: 2.1875rem;
    position: absolute;
    top: 0;
    left: 0;
    background: $activeButtonColor;
    color: $darkColor;
    transition: all 0.3s ease-in-out;
}

#themeBt {
    margin-left: 3.125rem;
    grid-row: 1;
    grid-column: 4;
}

#switch-theme {
    height: 2.3125rem;
    opacity: 1;
    transition: opacity 3s ease-in-out;
}

#serif:checked~.btn-switch {
    transform: translateX(0);
}

#sansserif:checked~.btn-switch {
    transform: translateX(6.25rem);
}

#monospace:checked~.btn-switch {
    transform: translateX(12.5rem);
}

#response {
    grid-row: 2;
    grid-column: 2 / span 3;
    display: grid;
    grid-template-columns: 33% 66%;
    grid-template-rows: 5rem 5rem 5rem 9.375rem 5rem;
}

#word {
    margin-left: 3.125rem;
    grid-row: 2;
    grid-column: 1;
    text-transform: capitalize;
    font-size: 3.25rem;
}

#vocal {
    margin-left: 3.125rem;
    display: flex;
    flex-direction: row;
    grid-row: 3;
    grid-column: 1;
}

#audio {
    display: none;
}

#playAudio {
    background-image: url('/src/img/audio.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

#playAudio:hover {
    background-color: #d8e3f2;
    border-radius: 1.5625rem;
}

#playAudio:hover::before {
    border-left-color: #fff;
}

#phonetic>span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
}

#phonetic>span>p:nth-of-type(1) {
    font-size: 1.375rem;
    font-weight: 700;
}

#phonetic>span>p:nth-of-type(2) {
    font-size: 1.125rem;
    margin-left: 0.625rem;
}

#phonetic>span>p:nth-of-type(3) {
    margin-left: 1.25rem;
}

#synonyms,
#antonyms {
    margin-left: 3.125rem;
    width: 70%;
    text-transform: capitalize;
    padding-left: 0;
}

#synonyms {
    grid-row: 4;
    grid-column: 1;
}

#antonyms {
    grid-row: 5;
    grid-column: 1;
}

#defs {
    grid-column: 2 ;
    display: flex;
    flex-direction: column;
}

#tabs {
    position: relative;
}

.tab {
    color: $darkColor;
    text-transform: capitalize;
    display: inline-block;
    cursor: pointer;
    background-color: $buttonColor;
}

.tab.active {
    cursor: default;
    width: auto;
    top: 0;
    left: 1.5%;
    color: $darkColor;
}

.tab-light {
    color: $darkColor;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    cursor: pointer;
    background-color: $buttonColor;
    color: $darkColor;
}

.tab-indicator {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $activeButtonColor;
    color: $darkColor;
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
    height: 100%;
}

.def {
    margin-top: 1.25rem;
    font-size: 1rem;
    display: none;
    text-align: justify;
}

.def.active {
    box-sizing: border-box;
    margin-left: -0.625rem;
    margin-right: 0.625rem;
    margin-top: 2.8125rem;
    font-size: 1.125rem;
    padding-inline-start: 0.625rem;
    display: flex;
    flex-direction: column;
}

.lien {
    text-decoration: none;
    border-radius: 0.1875rem;
    padding: 0.3125rem;
    font-size: 0.875rem;
    color: #2ca1bf;
}

.lien:hover {
    color: #3071a9;
}

.inverted {
    filter: invert(100%);
}

#erreur {
    margin-top: 0.3125rem;
    height: 1.25rem;
    text-align: center;
    width: 100%;
    color: #cf6679;
    font-weight: 700;
}

#themeBt>div>label:nth-child(2) {
    position: relative;
    left: 6.25rem;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/src/img/bt-light.png");
}

#themeBt>div>label:nth-child(4) {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("/src/img/bt-dark.png");
}

@media (max-width: 1280px) {
    #main {
        grid-template-columns: auto 250px 500px 84px auto;
    }

    #word {
        margin-left: 0;
    }

    #vocal {
        margin-left: 0;
    }

    #synonyms {
        margin-left: 0;
    }

    #antonyms {
        margin-left: 0;
    }

    #logo {
        margin-left: 0;
    }

    #styleBt {
        margin-left: 1.875rem;
    }
}

@media (max-width: 884px) {
    #container {

    }
    #main {
        grid-template-columns: auto 250px 500px 84px auto;
    }


    #word {
        margin-left: 0;
    }

    #vocal {
        margin-left: 0;
    }

    #synonyms {
        margin-left: 0;
    }

    #antonyms {
        margin-top: 20px;
        margin-left: 0;
    }

    .lien {
        font-size: 16px;
    }

    #logo {
        margin-left: 0;
    }

    #styleBt {
        margin-left: 1.875rem;
    }
}

/* Media Queries */
@media (max-width: 834px) {

    #main {
        box-sizing: border-box;
        margin:  3%;
        padding: 0;
        grid-template-columns: 100%;
        grid-template-rows: 5rem;
    }
    #btMenu {
        display: flex;
    }

    #logo {
        grid-column: 1;
        grid-row: 1;
        align-items: center;
        height: 2.8125rem;
        margin: 0;
    }
    #logoImg {
        margin-left: -60px;
    }

 
    #response {
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 5rem 5rem 5rem;
        grid-column: 1;
        grid-row: 2;
    }

    #word {
        margin: 0;
        text-align: center;
        grid-row: 2;
        grid-column: 1;
        text-transform: capitalize;
        font-size: 56px;
    }

    #vocal {
        font-size: 32px;
        margin-left: 1rem;
    }

    #audio {
        grid-column: 1;
        grid-row: 3;
    }

    .lien {
        font-size: 20px;
    }

    #synonyms {
        font-size: 20px;
        margin-left: 1rem;
        grid-row: 4;
    }

    #antonyms {
        font-size: 20px;
        margin-left: 1rem;
        grid-column: 1;
        grid-row: 5;
    }

    #defs {
        font-size: 16px;
        padding: 1rem;
        margin: 0;
        grid-column: 1;
        grid-row: 6;
    }

    .def.def.active {
        font-size: 22px;
    }

    #styleBt {
        display: none;
        z-index: 10;
        background-color: $lightColor;
        width: 100%;
        position: fixed;
        top: 0;
        margin: auto;
        transition: $transition;
        flex-direction: column;
        align-items: center;
        grid-column: 1;
        grid-row: 7;
    }

    #themeBt {
        margin: 1.25rem 0px 1.25rem 0px;
    }
}

@media (prefers-color-scheme: dark) {

    /* Styles spécifiques pour le mode sombre */
    body {
        background-color: $darkColor;
        color: $lightColor;
    }
}

@media (prefers-color-scheme: light) {

    /* Styles spécifiques pour le mode clair */
    body {
        background-color: $lightColor;
        color: $darkColor;
    }
}